p{
    color: rgb(43, 41, 41);
    font-size: x-large;
    font-family: "roboto";
}
h2{
    color:rgb(155, 126, 91)
   
}
.p{border:5px sold ;

    margin : 20px
}
#paragraph{
    font-size: x-large;
}

/* selecteur enfant */
.child-selector > p{
    background-color:
}
h2{
    text-align: center;
}
body{
    background-color: #0000003b;
}
nav{
    font-size: x-large;
}
/*lien visite */

/*element survole par la souris */
div:hover{
    color: red;
}
div{
    padding-left: 50px;
}
body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: #9e9d9d;
    height: 80px;
    margin: 10px;
}
nav ul {
   display: flex;
   gap: 20px;
   list-style: none;
}
 nav ul li a{
   
    letter-spacing: 0.1rem;
 text-decoration: none;
color: black;
}
ul li a:hover{
    color: white;
    text-decoration: underline;
}

form{
    padding: 0px;
    text-align: left;
}
h1{
    color: rgba(0, 0, 0, 0. 600);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h2{
    color: rgba(0, 0, 0, 0. 600);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.paragraph{
    font-family: "roboto";
}